.slider {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: inherit;
  overflow: hidden;
}

.slider__image {
  width: 60%;
  height: 100%;
  object-fit: cover;
}
.slider__content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  padding: 20px;
  text-align: center;
}
.slider__title {
  text-align: center;
}

@media screen and (max-width: 800px) {
  .slider {
    flex-direction: column;
    background-color: rgb(236, 236, 236);
    /* justify-content: space-between; */
  }
  .slider__image {
    width: 100%;
  }
}
